
.login-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .login-container h4 {
    color: black;
    font-weight: bold;
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .login-input {
    background-color: #fff;
    border-radius: 4px;
  }
  
  .login-button {
    margin-top: 16px;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #00aaff;
    color: white;
    border: none;
  }
  

  .h1 {
    color: white;
    text-align: center;
  }